{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <h1 style="margin-top: 0;">Edit user #{{ id }}</h1>
    {% include 'users/_form.html.twig' with { form: form, submit_label: 'Save' } %}
{% endblock %}

