{% extends 'base.html.twig' %}

{% block title %}New user{% endblock %}

{% block body %}
    <h2 class="mb-4">New user</h2>
    <div class="card">
        <div class="card-body">
            {% include 'users/_form.html.twig' with { form: form, submit_label: 'Create' } %}
        </div>
    </div>
{% endblock %}
