services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\PhoenixApi\PhoenixApiClient:
        arguments:
            $client: '@phoenix'
            $importToken: '%env(string:default::PHOENIX_IMPORT_TOKEN)%'
